<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jacob Carstens Learning Journal</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href"./index.html">HOME</a></li>
          <li><a href"./detail.html">DETAIL</a></li>
          <li><a href"./new_entry.html">NEW ENTRY</a></li>
          <li><a href"./edit_entry.html">EDIT ENTRY</a></li>
        </ul>
      </nav>
    </header>
    <div id="root"></div>
  </body>
</html>