{% extends "layout.jinja2" %}

{% block content %}
  <body>
      <h1>Home Page</h1>
      {% if entries %}
          {% for entry in entries %}
              <article>
                  <h2><a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.id }}</a></h2>
                  <p>Created <strong>{{ entry.creation_date }}</strong></p>
                  <p>{{ entry.body }}</p>
              </article>
          {% endfor %}
      {% else %}
          <p>No entries present, please add an entry to view an entry.</p>
      {% endif %}
      <footer><button><a href="{{ request.route_url('detail_view') }}">Details</a></button></footer>
  </body>
{% endblock %}
